*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}

/* header */
header{
    background-color: #1B52F4;
    color: white;
}

.navigation{
    margin: 0 auto;
    width: 80%;
    padding: 10px 5px 5px 5px;
}

ul.flex{
    justify-content: space-between;
    align-items: center;
}

#logo-top{
    font-size: 25px;
}

.fa-brands.fa-discord{
    font-size: x-large;;
}

a{
    text-decoration: none;
    padding: 25px;
    color: white;
}

li{
    list-style: none;
    padding: 5px;
}

.button{
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
}

.small-button{
    width: 60px;
    border-color: white;
    padding: 6px 0px;
    border-radius: 15px;
    background-color: white;
}
.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-content{
    padding-bottom: 140px;
    padding-top: 120px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.big-size{
    padding-bottom: 30px;
    font-size: 50px;
}

.small-size{
    font-size: 25px;
}

#arrow-button{
    margin-right: 10px;
    background-color: white;
    border-color: white;
    margin-top: 25px;
}

#discord-button{
    background-color: rgb(35,39,42);
    color: white;
    border-color: rgb(35,39,42);
}
/* header */

/* prima-sezione */
.study-section{
    justify-content: center;
    height: 600px;
    align-items: center;
}

.study-frog{
    width: 50%;
}

.study-content{
    padding: 10px;
    width: 30%;
}
/* prima-sezione */

/* seconda-sezione */
.chillin-section{
    justify-content: center;
    height: 600px;
    align-items: center;
    background-color: lightgray;
}
/* seconda-sezione */

/* quarta-sezione */
.section5{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightgray;
}

.green-square{
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

#big-img{
    width: 90%;
}

#medium-size{
    font-size: 30px;
}

#arrow-button2{
    margin-right: 10px;
    background-color: rgb(114,137,218);
    border-color: rgb(114,137,218);
    color: white;
    margin-top: 25px;
}
/* quarta-sezione */

/* section6 */
.section6.flex{
    background-color: darkslategray;
    /* height: 600px; */
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.container.flex{
    align-items: stretch;
    justify-content: end;
    border: 3px dashed black;
    width: 80%;
    /* height: 580px; */
}

.coral-square{
     background-color: lightcoral;
     width: 40%;
     border: 3px dashed black;
}

.seagreen-square{
    border: 3px dashed white;
    width: calc(70% / 4);
    background-color: lightseagreen;
}
/* section6 */
/*
hr{
    border-color: white;
} */

/* footer */
/* footer{
    background-color: darkslategray;
    /* height: 100px; */
    padding-top: 15px;
} */

/* .banner-footer{
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* height: 80px; */
    width: 80%;
    background-color: aquamarine;
} */

/* .logo{
    padding: 5px;
    border: 3px dashed black;
    background-color: lightpink;
} */

/* .bottone{
    padding: 5px;
    border: 3px dashed black;
    background-color: lightpink;
}
footer */