*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}

/* header */
header{
    background-color: #1B52F4;
    color: white;
}

.navigation{
    margin: 0 auto;
    width: 80%;
    padding: 10px 5px 5px 5px;
}

ul.flex{
    justify-content: space-between;
    align-items: center;
}

#logo-top{
    font-size: 25px;
}

.fa-brands.fa-discord{
    font-size: x-large;;
}

a{
    text-decoration: none;
    padding: 25px;
    color: white;
}

li{
    list-style: none;
    padding: 5px;
}

.button{
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
}

.small-button{
    width: 60px;
    border-color: white;
    padding: 6px 0px;
    border-radius: 15px;
    background-color: white;
}
.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-content{
    padding-bottom: 140px;
    padding-top: 120px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.big-size{
    padding-bottom: 30px;
    font-size: 50px;
}

.small-size{
    font-size: 25px;
}

#arrow-button{
    margin-right: 10px;
    background-color: white;
    border-color: white;
    margin-top: 25px;
}

#discord-button{
    background-color: rgb(35,39,42);
    color: white;
    border-color: rgb(35,39,42);
}
/* header */

/* prima-sezione */
.study-section{
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
}

.study-frog{
    width: 50%;
}

.study-content{
    padding: 10px;
    width: 30%;
}
/* prima-sezione */

/* seconda-sezione */
.chillin-section{
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
/* seconda-sezione */

/* quarta-sezione */
.contact-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightgray;
}

.contact-content{
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

#big-img{
    width: 90%;
}

.medium-size{
    font-size: 30px;
}

#arrow-button2{
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: rgb(114,137,218);
    border-color: rgb(114,137,218);
    color: white;
    margin-top: 25px;
}
/* quarta-sezione */

/* footer-top */
.footer-top.flex{
    background-color: rgb(35,39,42);
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.container.flex{
    align-items: stretch;
    justify-content: end;
    width: 80%;
}

.contentsx{
    align-items: center;
    color: white;
     width: 30%;
}

.footer-content{
    padding: 20px 0px;
    color: rgb(109,134,215);
}

#flag-italy{
    width: 20px;
}

.fa-brands.fa-instagram{
    padding-right: 10px;
    padding-top: 15px;
}

.fa-brands.fa-twitter{
    padding-right: 10px;
    padding-top: 15px;
}

.fa-brands.fa-facebook-square{
    padding-right: 10px;
    padding-top: 15px;
}

.fa-brands.fa-youtube{
    padding-right: 10px;
    padding-top: 15px;
}

.contentdx{
    color: white;
    width: calc(70% / 4);
}

li{
    list-style: none;
}
/* footer-top */

hr{
    margin: 0 auto;
    width: 80%;
    border-color: rgb(109,134,215);
}

/* footer-bottom */
footer{
    padding: 50px 0px;
    background-color: rgb(35,39,42);
}

.banner-footer{
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
} 

.logo-footer{
    color: white;
    font-size: 25px;
    padding: 5px;
}

.small-button-footer{
    color: white;
    text-align: center;
    width: 80px;
    border-color: rgb(114,137,218);
    padding: 6px 0px;
    border-radius: 15px;
    background-color: rgb(114,137,218);
}
/* footer-bottom */